## How to apply a function to some columns in Pandas

In [5]:
import pandas as pd
import numpy as np

In [6]:
df = pd.DataFrame ({'a' : np.random.randn(6),
             'b' : ['foo', 'bar'] * 3,
             'c' : np.random.randn(6)})
df.head()

          a    b         c
0  0.591326  foo -0.288989
1 -0.139956  bar  0.413656
2 -1.090947  foo -0.462895
3 -0.605137  bar -0.378294
4  0.816681  foo  0.701684

In [8]:
def my_test2(row):
    return row['a'] +  row['c']

In [9]:
df['Value'] = df.apply(my_test2, axis=1)

In [10]:
df.head()

          a    b         c     Value
0  0.591326  foo -0.288989  0.302337
1 -0.139956  bar  0.413656  0.273701
2 -1.090947  foo -0.462895 -1.553843
3 -0.605137  bar -0.378294 -0.983431
4  0.816681  foo  0.701684  1.518365